{% extends 'base.html.twig' %}
{% block body %}
<section id="blog" class="container">
<br>
<h2>PRIVACY - INFORMAZIONI RELATIVE ALL'UTILIZZAZIONE DEI DATI PERSONALI PER PROMOZIONI E MARKETING</h2>

<p>Questo "Rapporto Informativo" segue "Cart.13 d.lgs.n.196 / 2003" per la protezione dei dati personali dell'utente del sito web di Antonio Galdo - www.awwviaggi.it. Questo "Rapporto Informativo" è valido solo per gli utenti di questo sito, e non per altri siti web collegati a www.awwviaggi.it. ART.13 D.LSG.N.196 / 2003 - REGOLAMENTO DELLA PROTEZIONE DEI DATI PERSONALI I dati personali dell'utente trasmessi volontariamente a Antonio Galdo saranno utilizzati come segue:</p>
<br><strong>(a)</strong>per entrare in contatto con l'Utente che ha chiesto informazioni sui prodotti e sulla presentazione della nostra collezione (specialmente quando si presentano nuove collezioni) e desidera saperne di più sulla rete di vendita e sull'assistenza di Antonio Galdo - o qualsiasi altra società collegata o controllata da Antonio Galdo. Antonio Galdo può inviare materiale promozionale, commerciale e informativo all'utente, via web, posta elettronica, telefono, MMS, SMS, e-mail, e dall'Italia o da altri Paesi;
<br><strong>(b)</strong> inviare newsletter;
<br><strong>(c)</strong> per l'elaborazione di studi e statistiche e ricerche di mercato.<br>

<hr><h3>2. Tipi di dati e visualizzazione di dati</h3>
<p>I sistemi informatici e le procedure software potrebbero acquisire, durante il normale funzionamento, i dati personali che la trasmissione è implicita nei protocolli di comunicazione di Internet.
Queste informazioni, che non vengono raccolte per essere collegate ad alcun interesse specifico, possono consentire di identificare l'utente.
La categoria di cui sopra include i seguenti indirizzi IP, nomi con un dominio, indirizzi URI (UNIFORM RESOURCE IDENTIFIER) delle risorse richieste, richiesta di pianificazione, procedura di richiesta, dimensione del file, risposta dal server che indica il codice numerico e altri parametri riguardante il sistema operativo e l'ambiente del computer dell'utente. Questi dati, cancellati immediatamente dopo l'elaborazione, vengono utilizzati solo per ottenere informazioni statistiche anonime e per controllare il corretto funzionamento del sito.
Questi dati possono anche essere utilizzati per verificare la responsabilità in caso di violazione ipotetica del computer, ma a parte questa situazione particolare, i dati sui contatti web non verranno mantenuti per più di 7 giorni.
I dati degli utenti forniti volontariamente La trasmissione esplicita, volontaria ed elettiva della posta elettronica agli indirizzi indicati su www.awwviaggi.it comporta l'acquisizione dell'indirizzo del mittente e altri dati personali, essenziali per rispondere alle richieste.</p><br>
<hr><h3>3. Elaborazione dei dati e possibili conseguenze di rigetto </h3>
<p>La fornitura dei dati è facoltativa, comunque, qualsiasi rifiuto o fornitura di informazioni incomplete / non corrette renderà impossibile l'accesso all'utente per la presentazione di prodotti Antonio Galdo, inoltro di newsletter o comunicazioni promozionali / commerciali e anche la partecipazione di elaborazioni di studi e di ricerca statistica / di mercato.</p><br>
<hr><h3>4. Comunicazione dati</h3>
<p>I dati personali degli utenti raccolti da Antonio Galdo saranno trasmessi alla rete di assistenza e vendita di Antonio Galdo nel mondo e a tutti gli argomenti collegati a Antonio Galdo per le attività commerciali (per le ragioni indicate nel paragrafo 1).
Potrebbero essere informati anche i proprietari di Antonio Galdo , il personale dell'azienda, in particolare il personale responsabile del commercio online, della cura dei clienti, del marketing, dei tecnici dei dispositivi elettronici e anche del responsabile del trattamento dei dati e della privacy.
I dati personali dell'utente potranno essere trasmessi anche alle aziende responsabili del mantenimento del sito web e dei dispositivi elettronici. Quanto ai motivi indicati al punto 1, Antonio Galdo può comunicare tali dati ai seguenti soggetti: banche, società di assicurazioni, fornitori che forniscono a Antonio Galdo assistenza per qualsiasi attività commerciale / promozionale. I dati personali potrebbero anche essere trasferiti in Paesi Esteri, come per la legislazione in vigore, anche Paesi extra-Cee.</p><br>
<hr><h3>5. Dati di diffusione</h3>
<p>I dati personali dell'utente non verranno diffusi né comunicati ad altri soggetti, tranne quelli nominati nel presente regolamento.</p><br>
<hr><h3>6. Diritti degli utenti</h3>
<p>Per quanto riguarda il paragrafo 1, l'utente può esercitare i propri diritti come per l'art. 7 / D. Lgs. 30 giugno 2003, n. 196. Qui di seguito si trova il contenuto completo dell'articolo:

<br><strong>1</strong> l'utente ha il diritto di ottenere la conferma dell'esistenza di dati personali in relazione alla sua persona; anche se questi dati non sono ancora registrati.
<br><br><strong>2</strong> l'utente ha il diritto di ottenere l'indicazione di:
<br>1) l'origine dei dati personali
<br>2) lo scopo e la modalità di elaborazione dati
<br>3) la modalità di utilizzo dei dispositivi elettronici
<br>4) i dati del proprietario e la persona responsabile in relazione agli art.5 comma 2 dati
<br>5) i dati di qualsiasi soggetto che possono ottenere informazioni sui dati personali dell'utente

<br><br><strong>3</strong> l'utente ha il diritto di ottenere:
<br>a) l'aggiornamento, la rettificazione o l'integrazione dei dati;
<br>b) la cancellazione, la trasformazione in forma anonima o l'interruzione dei dati trattati in violazione della legge
<br>c) l'affermazione che le operazioni di cui alle lettere a) eb) sono conosciute dai soggetti che gestiscono i dati personali dell'utente.

<br><br><strong>4</strong> l'utente ha il diritto di combattere il trattamento dei dati personali
<br>a) per ragioni legittime
<br>b) per la pubblicità, le vendite, la ricerca di marketing.
<hr><h3>7. Regolamento promozionale delle attività</h3>
<p>La partecipazione alle attività di Marketing è volontaria, come per l'art.7, 4 comma, lett.
a) e l'art. 130 della LEGGE PERSONALE DI PROTEZIONE DEI DATI, in particolare per le comunicazioni elettroniche, le email, il telefax, il mms o l'sms.</p>
<hr><h3>8. Il responsabile del trattamento dei dati e il titolare della proprietà</h3>
<p>Antonio Galdo, la cui residenza è legale a Carbonate (CO) in Via Boccaccio 68/72, è responsabile della riservatezza.
Ogni tipo di richiesta riguardante la privacy può essere rivolta a questa persona residente in Antonio Galdo oppure può essere inviata per posta a info@awwviaggi.it .</p>
</p><br>
<strong>Cookie policy</strong>
<p>Il sito www.awwviaggi.it (di seguito "il sito"), di proprietà di Antonio Galdo (di seguito "noi", "noi"), usa i cookie.</p>
<br>
I cookie sono stringhe di testo brevi che il sito salva nel tuo browser quando accedi al sito stesso. Queste stringhe, che non contengono alcun codice eseguibile e quindi non possono contenere malware, vengono utilizzati per vari scopi, quali: monitorare le sessioni di navigazione, memorizzare informazioni per migliorare la navigabilità del sito, mantenere le impostazioni di navigazione scelte dall'utente ( come la scelta linguistica) e tenere traccia delle azioni adottate dagli utenti del sito. Ti consigliamo che il sito può salvare nel browser uno o più cookie, a seconda delle azioni eseguite sul sito. Alcuni dei cookie che possono essere salvati non derivano direttamente da noi, ma da terzi che salvarono i cookie attraverso questo sito. Ulteriori informazioni sono riportate di seguito nel presente criterio.
<br>
<p>Secondo la misura generale dell'autorità nazionale per la protezione dei dati (3 giugno 2014 GU n. 126) esistono due tipi di biscotti:
<br>Cookie funzionali - Sono utilizzati per trasmettere una comunicazione, completare un servizio che l'utente ha richiesto o condurre ricerche statistiche;
<br>Cookie di profilo - vengono utilizzati per registrare il comportamento di un utente e le preferenze mostrate da lui per inviare messaggi pubblicitari in linea con il suo profilo.</p>
<br>
<strong>Cookies di prima festa </strong>
<p>Di seguito sono elencate le descrizioni di tutti i cookie che il sito utilizza e gestisce direttamente.</p>
<br>
<p>Cookies funzionali:<br>
Nome<br>
PHPSESSID<br><br>
Scopo<br>
Questo cookie consente la corretta operatività del sito web. È destinato a monitorare la sessione di navigazione.
<br>
Durata<br>
Sessione</p>

<strong>Profilo di Cookie:</strong><br>
<p>Il sito non utilizza cookie di profilo di prima parte.</p>
<br>
<strong>Questo sito utilizza i seguenti terzi: Cookies:</strong><br>
<p>La tabella seguente mostra i diversi tipi di cookie installati dal sito, ma provenienti da terze parti. La seguente tabella, oltre alla categoria e allo scopo per cui questi cookie vengono utilizzati, presenta i collegamenti alle Norme sulla privacy di terzi in cui è possibile ottenere informazioni dettagliate sui cookie utilizzati e potete trattenere il consenso al loro utilizzo.

<br>Categoria
<br>Analytics

<br>Proprietario
<br>Google<br>

<br><strong>Purpose</strong><br>
Google Analytics è uno strumento di analisi web che consente di raccogliere informazioni sulla navigazione sul sito (ad esempio, le pagine visitate, il tempo trascorso sul sito, il modo in cui il sito è stato raggiunto dai motori di ricerca e quello che l'utente ha cliccato mentre sul sito). Queste informazioni vengono raccolte in forma anonima e hanno lo scopo di individuare le tendenze sul web.

<br>Politica
http://www.google.com/intl/en/policies/privacy/
<br><br><strong>Come disattivare i cookie?</strong>
<br>Di solito i browser sono configurati per accettare i cookie per impostazione predefinita. Tuttavia, ti permettono di controllare e disattivare i cookie tramite le impostazioni. Ricordiamo che la disattivazione dei cookie funzionali può causare malfunzionamenti nella navigazione del sito e / o limitare il servizio che offriamo. Di seguito elenchiamo le procedure da seguire per controllare i cookie nei browser più diffusi:

<h4>Chrome</h4>
Avviare il browser Chrome
Fare clic sul menu nella barra degli strumenti del browser
Selezionare Impostazioni
Fare clic su Mostra impostazioni avanzate
Nella sezione "Privacy" fare clic sul pulsante "Impostazioni del contenuto"
Nella sezione "Cookie" è possibile modificare le seguenti impostazioni sui cookie:
Consente di impostare i dati locali
Conserva i dati locali solo fino a quando non esci dal tuo browser
Blocca il sito dall'impostazione di qualsiasi dato
Blocca i cookie di terze parti ei dati del sito
Gestire le eccezioni
Mostra tutti i cookie ei dati del sito
Per ulteriori informazioni, visitare la pagina specifica: https://support.google.com/accounts/answer/61416?hl=it
<br>
<h4>Internet Explorer</h4>
Avviare il browser di Internet Explorer
Fare clic sul pulsante Strumenti e scegliere Opzione Internet
Fare clic sulla scheda Privacy e nelle impostazioni sezione è possibile:
Blocca tutti i cookie
Consenti tutti i cookie
Seleziona un sito che può utilizzare i cookie
For more information visit the specific page: http://windows.microsoft.com/en-gb/internet-explorer/delete-manage-cookies#ie=ie-11
<br>
<h4>Safari</h4>
Launch the Safari Browser
Click on Safari, select Preferences and click Privacy
In the section Block Cookie specify how Safari must allow cookies from the web sites.
To see which sites have installed cookies click Details
<br>
For more information visit the specific page: https://support.apple.com/safari
<br>
Per informazioni su come gestire ed eliminare i cookie sul tablet e / o sul cellulare, consultare la sezione "Aiuto" del browser utilizzato.</p>
</section>
{% endblock %}
