{{ form_start(form, {'attr': {'id': 'form_like'}}) }}
    {{ form_row(form.likecommenti, {'attr': {'class': 'fa fa-heart-o'}}) }}
    <button type="submit" class="primary-btn">Commenta</button>
{{ form_end(form) }}
